<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyb.besttimer.androidshare">

    <application
        android:name=".ShareApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ShowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.pluginwidget.NestedScrollViewControlActivity" />
        <activity android:name=".activity.pluginwidget.RecyclerViewActivity" />
        <activity android:name=".activity.pluginwidget.HeaderRecyclerViewActivity" />
        <activity android:name=".activity.pluginwidget.ItemTreeActivity" />
        <activity android:name=".activity.pluginwidget.ItemTouchActivity" />
        <activity android:name=".activity.pluginwidget.PullRefreshActivity" />
        <activity android:name=".activity.pluginwidget.TextViewActivity" />
        <activity android:name=".activity.pluginwidget.DecorationActivity" />
        <activity android:name=".activity.pluginwidget.SwipeLayoutActivity" />
        <activity android:name=".activity.rxandroid.SimpleRxActivity" />
        <activity android:name=".activity.network.SimpleRetrofitActivity" />
        <activity android:name=".activity.pluginwidget.PorterDuffActivity" />
        <activity android:name=".activity.pluginwidget.EditTextActivity" />
        <activity android:name=".activity.network.GlideActivity" />
        <activity android:name=".activity.pluginwidget.TableLayoutActivity" />
        <activity android:name=".activity.pluginwidget.SimpleFragmentActivity" />
        <activity android:name=".activity.rxandroid.RxBusActivity" />
        <activity android:name=".activity.pluginwidget.RecyclerViewShowMoreActivity" />
        <activity android:name=".activity.pluginwidget.TableComplexActivity" />
        <activity android:name=".activity.pluginwidget.LinearLayoutActivity" />
        <activity android:name=".activity.rxandroid.RxIntervalActivity" />
        <activity android:name=".activity.pluginwidget.NumberEditActivity" />
        <activity android:name=".activity.rxandroid.RxLifeActivity" />
        <activity android:name=".activity.pluginwidget.CardViewActivity" />
        <activity android:name=".activity.pluginwidget.LevelAdapterActivity" />
        <activity android:name=".activity.pluginwidget.TestTabLayoutActivity" />
        <activity android:name=".activity.monitorCheck.MemoryCheckActivity" />
        <activity android:name=".activity.pluginwidget.FragmentUtilActivity" />
        <activity android:name=".activity.pluginwidget.DrawLayoutActivity" />
        <activity android:name=".activity.pluginwidget.RefreshLayoutActivity"></activity>
    </application>

</manifest>